{% set i = view.getViewhelper('Delegator', { object: widget }) %}

<a href="{{ widget.getConfig('link') | default('#') }}" class="btn btn-primary btn-block">
    <span>{{ widget.getConfig('label') | default('mehr erfahren') }}</span>
</a>

