{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

<h2>
    Konfiguration
</h2>

<p><a class="ajax" href="{{ plugin.getAdminUri('Index', 'index') }}"><i class="fa fa-chevron-circle-left"></i> zurück</a></p>

<div class="row">
    <div class="col">

        <div class="card">
            <div class="card-body">

                <form method="post" class="ajax" action="{{ plugin.getAdminUri('Index', 'ajaxUpdate') }}">

                    <div class="form-group">
                        <label for="sorting">Sortierung</label>
                        <select class="form-control" name="config[sorting]" id="sorting">
                            <option {% if plugin.getConfig('sorting') == "Auto" %}selected{% endif %} value="Auto">alphabetisch</option>
                            <option {% if plugin.getConfig('sorting') == "Manual" %}selected{% endif %} value="Manual">manuell</option>
                            <option {% if plugin.getConfig('sorting') == "NewestFirst" %}selected{% endif %} value="NewestFirst">neueste zuerst</option>
                            <option {% if plugin.getConfig('sorting') == "OldestFirst" %}selected{% endif %} value="OldestFirst">älteste zuerst</option>

                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Speichern</button>

                </form>

            </div>
        </div>

    </div>
</div>
