{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

<h2>Autoren</h2>

<p><a class="ajax" href="{{ plugin.getAdminUri('Index', 'index') }}"><i class="fa fa-chevron-circle-left"></i> zurück</a></p>


<table class="table">
    <thead>
        <tr>
            <th width="40"></th>
            <th>Autor</th>
        </tr>
    </thead>
    <tbody>

        {% for author in authors %}
            <tr>
                <td class="text-center">
                    <a class="ajax" href="{{ plugin.getAdminUri('Authors', 'ajaxAuthorToggle', { authorId: author.getId() }) }}"><i data-author="{{ author.getId() }}" class="{% if author.getConfig('isAuthor') %}text-success{% endif %} far fa-check-circle"></i></a>
                </td>
                <td>{{ author.getName() }}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>
