{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{% if equipments | length == 0 %}
    <div class="message warning">Es wurden noch kein Zubehör hinzugefügt.</div>
{% else %}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            {% for equipment in equipments %}
                <tr class="{% if equipment.product.getId() == data.highlight %}highlighted{% endif %}" data-title="Zubehör bearbeiten" data-modal="{{ data.plugin.getAdminUri('Products', 'ajaxModalEquipmentEdit', { productId: product.getId(), equipmentId: equipment.product.getId() }) }}">
                    <td>{{ equipment.product.getTitle() }}</td>
                    <td class="text-right">
                        <a class="ajax" data-confirm="Soll dieses Zubehör wirklich gelöscht werden?" href="{{ data.plugin.getAdminUri('Products', 'ajaxEquipmentDelete', { equipmentId: equipment.product.getId(), productId: product.getId() }) }}"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endif %}