{# config

title: Standard

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}

<div class="plugin Core System Logout Index01">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="inner-wrapper">

                    <h2 class="first main-title" data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h2>

                    <div data-editable data-uid="{{ plugin.getUid('teaser') }}"></div>

                </div>
            </div>
        </div>
    </div>

</div>

