{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{{ view.set({
    'frame' : false,
}) }}

<form method="post" class="ajax" action="{{ plugin.getAdminUri('Question', 'ajaxCreate') }}">

    <div class="modal-body">

        <div class="form-group">
            <label for="title">Frage</label>
            <input type="text" class="form-control" name="title" required id="title" placeholder="Frage">
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">neue Frage erstellen</button>
    </div>

</form>

