{# config

title: Tiles
variables:
    columns:
        type: int
        label: Spalten
        default: 4
    withDetailsPage:
        type: bool
        label: mit Detailseite
    withContainer:
        type: bool
        label: mit Layout-Container
    skipCategories:
        type: bool
        label: Unterkategorien verbergen
    showFullEmail:
        type: bool
        label: E-Mail ausschreiben
    withRolloverEffect:
        type: bool
        label: mit Roll-Over Effekt
    lastRowCentered:
        type: bool
        label: letzte Reihe zentriert
    withoutIcons:
        type: bool
        label: ohne Kontakt-Icons
    imageWidth:
        type: int
        label: Thumbnail-Breite
        default: 600
    imageHeight:
        type: int
        label: Thumbnail-Höhe
        default: 400

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set p = view.getViewhelper('Partials', { basePath: viewFolder }) %}

{% if variables.columns == 1 %}
    {% set colClass = "col-12" %}
{% elseif variables.columns == 2 %}
    {% set colClass = "col-md-6" %}
{% elseif variables.columns == 3 %}
    {% set colClass = "col-md-4" %}
{% elseif variables.columns >= 4 %}
    {% set colClass = "col-md-3" %}
{% endif %}


<div class="plugin Core HelpAndSupport ContactPersons Index08">

    <div class="container">
        <div class="row">
            <div class="col-12">

                <h2 class="first main-title" data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h2>

                {{ p.renderPartial('Category', { category: i.getCategory(), colClass: colClass, plugin: plugin, }) | raw }}

            </div>
        </div>
    </div>

</div>