{% set v =  view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

<!DOCTYPE html>
<html>
    <head>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        {{ v.injectPartial('\\Frootbox\\Admin\\View\\Partials\\Head\\Partial')|raw }}
        
        {{ v.inject('standalone.less')|raw }}
                                
    </head>
    <body>

        <div class="background"></div>

        <div class="content-wrapper">

            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-md-6">

                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                {{ controllerHtml|raw }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    	{{ v.injectPartial('\\Frootbox\\Admin\\View\\Partials\\Footer\\Partial')|raw }}
				            
    </body>
</html>