<div class="form-group">
    <label for="categoryId">Kategorie</label>
    <select required class="form-control" id="categoryId" name="categoryId">
        <option value="">bitte wählen ...</option>
        {% for category in item.getCategories() %}
            <option {% if category.getId() == item.getConfig('categoryId') %}selected{% endif %} value="{{ category.getId() }}">{{ category.getTitle() }}</option>
        {% endfor %}
    </select>
</div>
{#
<div class="form-group">
    <label for="anchor">Anker</label>
    <input type="text" value="{{ item.getConfig('anchor') }}" id="anchor" name="anchor" placeholder="Anker" class="form-control" />
</div>
<div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="showChildren" name="showChildren" {% if item.getConfig('showChildren') %}checked{% endif %}>
    <label class="form-check-label" for="showChildren">Unterseiten auflisten</label>
</div>
#}
