<div class="modal-body">

    <div class="form-group">
        <label for="charge">Kosten</label>
        <input type="number" step="0.01" class="form-control" id="charge" name="charge" aria-describedby="emailHelp" value="{{ shippingCosts.getConfig('charge') }}">
    </div>

</div>
