{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{{ view.set({
    'frame' : false,
}) }}


<form method="post" class="ajax" action="{{ plugin.getAdminUri('SelfPickup', 'ajaxUpdateConfiguration') }}">

    <div class="modal-body">

        <div class="form-group">
            <label for="regularShippingDays">reguläre Selbstabholungstage</label>
            <select class="form-control" id="regularShippingDays" multiple="true" size="7" name="selfPickup[regularSelfPickupDays][]">
                <option {% if 1 in plugin.getConfig('selfPickup.regularSelfPickupDays') %}selected{% endif %} value="1">Montag</option>
                <option {% if 2 in plugin.getConfig('selfPickup.regularSelfPickupDays') %}selected{% endif %} value="2">Dienstag</option>
                <option {% if 3 in plugin.getConfig('selfPickup.regularSelfPickupDays') %}selected{% endif %} value="3">Mittwoch</option>
                <option {% if 4 in plugin.getConfig('selfPickup.regularSelfPickupDays') %}selected{% endif %} value="4">Donnerstag</option>
                <option {% if 5 in plugin.getConfig('selfPickup.regularSelfPickupDays') %}selected{% endif %} value="5">Freitag</option>
                <option {% if 6 in plugin.getConfig('selfPickup.regularSelfPickupDays') %}selected{% endif %} value="6">Samstag</option>
                <option {% if 7 in plugin.getConfig('selfPickup.regularSelfPickupDays') %}selected{% endif %} value="7">Sonntag</option>
            </select>
        </div>
        <div class="form-group">
            <label for="skipNextWorkdays">Werktage Vorlauf für Selbstabholung</label>
            <input type="text" class="form-control" id="skipNextWorkdays" name="selfPickup[skipNextWorkdays]" placeholder="Werktage Vorlauf für Selbstabholung" value="{{ plugin.getConfig('selfPickup.skipNextWorkdays') }}">
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>

</form>