{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

<h2>
    Filter bearbeiten
    <span class="headoptions">
		<a data-toggle="tooltip" data-modal data-title="neues Filterkriterium hinzufügen" href="{{ plugin.getAdminUri('Categories', 'ajaxModalFilterCriteriaCompose', { categoryId: category.getId() }) }}"><i class="fa fa-plus-circle"></i></a>
        <span class="dropdown">
            <i class="far fa-bars dropdown-toggle" data-toggle="dropdown"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a data-confirm="Soll die Filter-Konfiguration aller Unterkategorien wirklich mit dieser Konfioguration über schrieben werden?" class="ajax dropdown-item" href="{{ plugin.getAdminUri('Categories', 'ajaxFiltersCopyConfig', { categoryId: get.get('categoryId') }) }}"><i class="fa fa-copy"></i> Konfiguration auf Unterkategorien kopieren</a>
            </div>
        </span>
	</span>
</h2>

<p><a class="ajax" href="{{ plugin.getAdminUri('Categories', 'index', { categoryId: get.get('categoryId') }) }}"><i class="fa fa-chevron-circle-left"></i> zurück</a></p>

<div id="filtersReceiver">
    {{ v.injectPartial('\\Frootbox\\Ext\\Core\\ShopSystem\\Plugins\\ShopSystem\\Admin\\Categories\\Partials\\FiltersList', {
        plugin: plugin,
        category: category
    }) | raw }}
</div>