<script nonce="{{ settings.nonce }}">
    $(function ( ) {
        /**
         * Show "picture edit" buttons
         */
        $(document).on('mouseover', 'figure[data-type="Images/PictureFull"][data-uid]', function ( event ) {

            event.preventDefault();
            event.stopImmediatePropagation();

            if (isEditingFreeText) {
                return;
            }

            if (!$('.frootbox-raise-tooltips').hasClass('active')) {
                $('.popover').popover('hide');
            }

            var uid = $(this).attr('data-uid');

            $(this).attr('data-content', '<span class="options edit-mode">Bild' +
                '&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;' +
                '<a class="images-picturefull-edit" href="#' + uid + '"><i class="far fa-pencil"><\/i><\/a>&nbsp;&nbsp;&nbsp;' +
                '|&nbsp;&nbsp;&nbsp;' +
                '<a class="images-picturefull-delete" href="#' + uid + '"><i class="far fa-trash"><\/i><\/a>&nbsp;&nbsp;&nbsp;' +
                '|&nbsp;&nbsp;&nbsp;' +
                '<a class="popover-dismiss" href="#"><i class="far fa-times"><\/i><\/a>' +
                '</span>'
            );

            $(this).popover({
                placement: 'top',
                html: true
            });

            $(this).popover('show');
        });


        /**
         *
         */
        $(document).on('click', 'a.images-picturefull-edit', function ( event ) {

            event.preventDefault();
            event.stopImmediatePropagation();

            // Extract uid from href="#uid"
            var uid = $(this).attr('href').substr(1);

            fbxEditorOpenGenericModal();

            $.ajax({
                url: "{{ settings.serverpath }}cms/admin/Editor/callEditable",
                data: {
                    method: 'ajaxModalEdit',
                    editable: 'Frootbox/Ext/Core/Images/Editables/PictureFull',
                    uid: uid
                },
                success: function ( html ) {

                    $('#fbxEditorGenericModal .modal-content').html(html);

                }
            });

        });

        /**
         *
         */
        $(document).on('click', 'a.images-picturefull-delete', function(event) {

            event.preventDefault();
            event.stopImmediatePropagation();

            if (!confirm('Soll dieses Bild wirklich geloescht werden?')) {
                return;
            }

            // Extract uid from href="#uid"
            var uid = $(this).attr('href').substr(1);

            var img = $('figure[data-type="Images/PictureFull"][data-uid="' + uid + '"] img');

            $.ajax({
                url: "{{ settings.serverpath }}cms/admin/Editor/callEditable?{{ SID }}",
                data: {
                    method: 'ajaxDelete',
                    editable: 'Frootbox/Ext/Core/Images/Editables/PictureFull',
                    uid: uid,
                    default: img.data('default'),
                },
                success: function ( response ) {

                    img.attr('src', response.default);
                }
            });
        });

    });

</script>