<h3>Newsletter</h3>

<div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="newsletter" name="newsletter[consent]">
    <label class="form-check-label" for="newsletter">Ich möchte zukünftig den Newsletter erhalten.</label>
</div>
