{{ view.set({
    'title' : 'Anmeldung',
    'wrapper' : 'IndexStandalone'
}) }}

<script>
	$(function ( ) {

		$('a.password-lost').click(function ( ) {

			let href = $(this).attr('href') + '?login=' + $('#login').val();

			$(this).attr('href', href);
		});
	});
</script>

<div class="container">
	<div class="row justify-content-center">
        <div class="col-5">
        
        	
        	<br /><br /><br /><br />
        	
        	<h1>frootbox::cms</h1>

        	<br /><br />

			<div class="card">

				<div class="card-body">

					<h2>Passwort vergessen</h2>

					<p>Wenn Sie ihr Passwort vergessen haben, können Sie sich einen Link zum Neusetzen des Passwortes zuschicken lassen.</p>

					<h3>Neues Passwort beantragen</h3>

					<form class="ajax" method="post" action="{{ controller.getUri('ajaxPasswordRequest') }}">

						<p>Wenn Ihre E-Mail Adresse einem Benutzer zugeordnet ist, bekommen eine E-Mail mit einem Link zum Neusetzen des Passwortes.</p>

						<div class="form-group">
							<label for="login">Benutzername</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text"><i class="far fa-envelope"></i></div>
								</div>
								<input type="email" class="form-control" id="login" name="login" placeholder="E-Mail" value="{{ get.get('login') }}">
								<small id="emailHelp" class="form-text text-muted">Eine Information darüber, ob Ihre E-Mail Adresse gefunden wurde, bekommen Sie aus Sicherheitsgründen nicht.</small>
							</div>
						</div>

						<button type="submit" class="btn btn-primary">neues Passwort beantragen</button>

						<a href="{{ controller.getUri('login', { login: get.get('login') }) }}" class="btn btn-outline-secondary btn-sm float-right">zurück</a>

					</form>

					<br />

					<h3>Ich weiss meine E-Mail nicht mehr</h3>

					<p>Wenn Sie Ihre E-Mail Adresse nicht mehr wissen, kontaktieren Sie bitte den Seitenbetreiber.</p>

				</div>
			</div>
        	
        </div>
    </div>
</div>

