{% set i = view.getViewhelper('Delegator', { object: widget }) %}

{% set contact = i.getContact() %}

<style>
    img.round {
        height: auto;
    }
</style>

<picture  data-editable data-uid="{{ contact.getUid('image')}}">
    <img class="round" width="400" height="400" src="{{ i.getDummyImage({ width: 400, height: 400 }) }}" alt="" />
</picture>

<h5>{{ contact.getName() }}</h5>

<p class="position">{{ contact.getPosition() }}</p>

<p class="contact-fields">
    {% if contact.getPhone() %}
        <a href="tel:{{ contact.getPhone() }}"><i class="far fa-phone"></i></a>
    {% endif %}

    {% if contact.getEmail() %}
        <a href="mailto:{{ contact.getEmail() }}"><i class="far fa-envelope"></i></a>
    {% endif %}
</p>