{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{% if addresses | length %}
	<div class="form-group">
		<label for="venueId">{{ data.title | default('Veranstaltungsort') }}</label>
		<select class="form-control" id="venueId" name="{{ data.fieldName | default('venueId') }}">
			<option value="">bitte wählen ...</option>

			{% for address in addresses %}
				<option {% if data.locationId == address.getId() %}selected{% endif %} value="{{ address.getId }}">{{ address.getTitle }}</option>
			{% endfor %}

		</select>
	</div>
{% endif %}
