
{% if translator.hasKey('Core.ShopSystem.PaymentMethods.PaymentInAdvance.Summary') %}
    <p>{{ translator.translate('Core.ShopSystem.PaymentMethods.PaymentInAdvance.Summary', [ (shopcart.getTotal()|number_format(2, ',', '.')), orderNumber ]) | raw }}</p>
{% else %}
    <p>Überweisen Sie den Rechnungsbetrag an die angegebene Kontonummer in der Bestellbestätigung.</p>
{% endif %}
