{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{{ front.addTab('Shop Export', app.getUri('index')) }}


<h1>Export</h1>

<div class="card">
    <div class="card-body">

        <a href="{{ app.getUri('ajaxExportOrders') }}">Bestellübersicht exportieren</a>

    </div>
</div>
