{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{{ view.set({
    'frame' : false,
}) }}

{% if datasheets.getCount() > 0 %}

    <form method="post" class="ajax" action="{{ plugin.getAdminUri('Products', 'ajaxCreate', { categoryId: get.get('categoryId') }) }}">

        <div class="modal-body">

            <div class="form-group">
                <label for="title">Titel *</label>
                <input type="text" required class="form-control" name="title" id="title" placeholder="Titel">
            </div>
            <div class="form-group">
                <label for="datasheetId">Datenblatt *</label>
                <select class="form-control" id="datasheetId" name="datasheetId" required>
                    {% for datasheet in datasheets %}
                        <option {% if lastDatasheetId == datasheet.getId() %}selected{% endif %} value="{{ datasheet.getId }}">{{ datasheet.getTitle }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="Titles">Titel (mehrere mit Zeilenumbruch getrennt)</label>
                <textarea class="form-control" id="Titles" name="Titles" rows="3"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">neues Produkt erstellen</button>
        </div>

    </form>

{% else %}
    <div class="modal-body">
        <div class="message warning">Zur Erstellung von Produkten müssen zuerst Datenblätter hinzugefügt werden.</div>
    </div>
{% endif %}
