{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{{ view.set({
    'frame' : false,
}) }}


<form method="post" class="ajax" action="{{ plugin.getAdminUri('Shipping', 'ajaxUpdate', { shippingCostsId: shippingCosts.getId() }) }}">

    <div class="modal-body">

        <div class="form-group">
            <label for="title">Bezeichnung</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp" value="{{ shippingCosts.getTitle() }}">
            <small id="titleHelp" class="form-text text-muted">Die Bezeichnung dient nur der Organisation im CMS.</small>
        </div>

    </div>

    {{ adminHtml | raw }}

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>

</form>
