{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{{ view.set({
    'frame' : false,
}) }}


<form method="post" class="ajax" action="{{ plugin.getAdminUri('Shipping', 'ajaxCreate', { categoryId: get.get('categoryId') }) }}">

    <div class="modal-body">

        <div class="form-group">
            <label for="shippingcosts">Versandkosten</label>
            <select class="form-control" id="shippingcosts" name="shippingcosts">
                <option value="">kein Versand</option>
                {% for shippingcost in shippingcosts %}
                    <option value="{{ shippingcost.class }}">{{ shippingcost.title }}</option>
                {% endfor %}
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">neue Versandkostenart hinzufügen</button>
    </div>

</form>