{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{% set items = data.navigation.getItems({ language: data.language, ignoreVisibility: true }) %}

{% if items | length == 0 %}

	<div class="message warning">Es wurden noch keine Navigationspunkte erstellt.</div>

{% else %}

	<table class="table">
		<thead>
			<tr>
				<th>Titel</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			{% for item in items %}

				{{ v.injectPartial('\\Frootbox\\Admin\\Controller\\NavigationBars\\Partials\\ListNavigationItemsRow\\Partial', {
					item: item,
					language: data.language,
					navigation: data.navigation,
					level: 1
				}) | raw }}

			{% endfor %}

		</tbody>
	</table>

{% endif %}
