<div class="form-group">
    <label for="anchor">URL-Fragment (Anker)</label>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text">#</div>
        </div>
        <input type="text" class="form-control" id="anchor" name="anchor" value="{{ item.getConfig('anchor') }}" placeholder="URL-Fragment">
    </div>
</div>