
<div class="form-group">
    <label for="email">E-Mail</label>
    <input type="email" value="{{ item.getConfig('email') }}" id="email" name="email" placeholder="E-Mail" class="form-control" />
</div>
