{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}


<script nonce="{{ settings.nonce }}">
    var uid = "{{ get.get('uid') }}";

    $(function () {

        /**
         *
         */
        $('#elementUpdateForm').submit(function ( event ) {

            event.preventDefault();
            event.stopImmediatePropagation();

            $.ajax({
                url: $(this).attr('action'),
                data: $(this).serialize(),
                type: 'POST',
                success: function ( response ) {

                    $('#fbxEditorGenericModal').modal('hide');

                    $('[data-editable-element][data-uid="' + uid + '"]').html($('#value').val());
                }
            });

        });
    });
</script>



<form id="elementUpdateForm" action="{{ controller.getActionUri('ajaxUpdate', { uid: get.get('uid') }) }}" method="post">

    <div class="modal-header">
        <h5 class="modal-title">Element bearbeiten</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="value">Text</label>
            <textarea class="form-control" id="value" name="value" placeholder="Text">{{ content }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Speichern</button>

    </div>
</form>