<div class="form-group">
    <label for="minimum">Minimum</label>
    <input class="form-control" id="minimum" name="minimum" aria-describedby="fieldHelp" value="{{ field.getConfig('minimum') }}" />
    <small id="fieldHelp" class="form-text text-muted">Minimum Wert für diese Zahl.</small>
</div>
<div class="form-group">
    <label for="maximum">Maximum</label>
    <input class="form-control" id="maximum" name="maximum" aria-describedby="fieldMaximumHelp" value="{{ field.getConfig('maximum') }}" />
    <small id="fieldMaximumHelp" class="form-text text-muted">Maximum Wert für diese Zahl.</small>
</div>