{# config

title: Standard
variables:
    withContainer:
        type: bool
        label: mit Layout-Container
    skipTeaser:
        type: bool
        label: Teaser nicht wiederholen

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}

<div class="plugin Core HelpAndSupport Testimonials ShowTestimonial01">

    {% if variables.withContainer %}<div class="container">{% endif %}

    <div class="row">
        <div class="col-12">
            <div class="inner-wrapper">

                <h2 class="first main-title" data-editable data-uid="{{ testimonial.getUid('title') }}">{{ testimonial.getTitle() }}</h2>

                {% if not variables.skipTeaser %}
                    <div data-editable data-uid="{{ testimonial.getUid('teaser') }}"></div>
                {% endif %}

            </div>
        </div>
    </div>

    {% if variables.withContainer %}</div>{% endif %}

    <div class="blocks" data-blocks data-label="Blöcke der Mitarbeiterstimme" data-uid="{{ testimonial.getUid('block-content') }}"></div>

</div>
