<html>
    <head>

        <style>
            body {
                font-family: Arial;
            }
        </style>
    </head>
    <body>

        <table width="100%">
            <tbpdy>
                <tr>
                    <td align="center">

                        <table width="600">
                            <tr>
                                <td>

                                    <br />

                                    <p><b>{{ title | default('Passwort vergessen') }}</b></p>

                                    <p>Sie haben für Ihre Website ({{ serverpath }}) ein neues Passwort beantragt. Klicken Sie auf den folgenden Link, um ein neues Passwort zu setzen:</p>
                                    <p><a href="{{ url }}">{{ url }}</a></p>
                                    <p>Dieser Link bleibt gültig für 24 Stunden.</p>

                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </tbpdy>
        </table>

    </body>
</html>