{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{{ view.set({
    'frame' : false,
}) }}

<form method="post" class="ajax" action="{{ app.getUri('ajaxGroupUpdate', { groupId: group.getId() }) }}">

    <div class="modal-body">

        <div class="form-group">
            <label for="columns">Spalten-Aufteilung</label>
            <select class="form-control" size="1" name="columns" id="columns">
                <option {% if group.getColumnsString() == '12' %}selected{% endif %} value="12">12</option>
                <option {% if group.getColumnsString() == '8-4' %}selected{% endif %} value="8-4">8/4</option>
                <option {% if group.getColumnsString() == '6-6' %}selected{% endif %} value="6-6">6/6</option>
                <option {% if group.getColumnsString() == '4-4-4' %}selected{% endif %} value="4-4-4">4/4/4</option>
                <option {% if group.getColumnsString() == '4-8' %}selected{% endif %} value="4-8">4/8</option>
            </select>
        </div>
        <div class="form-group">
            <label for="title">Titel (optional)</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Titel" value="{{ group.getTitle() }}">
        </div>
        <div class="form-group">
            <label for="className">CSS Klasse (optional)</label>
            <input type="text" class="form-control" name="className" id="className" placeholder="CSS Klasse (optional)" value="{{ group.getConfig('className') }}">
        </div>
        <div class="form-group form-check">
            <input {% if group.getConfig('alignItemsEnd') %}checked{% endif %} type="checkbox" class="form-check-input" id="alignItemsEnd" name="alignItemsEnd">
            <label class="form-check-label" for="alignItemsEnd">Elemente in Spalten unten anordnen</label>
        </div>
        <div class="form-group form-check">
            <input {% if group.getConfig('oneFieldIsRequired') %}checked{% endif %} type="checkbox" class="form-check-input" id="oneFieldIsRequired" name="oneFieldIsRequired">
            <label class="form-check-label" for="oneFieldIsRequired">mind. ein Formular-Element muss gefüllt werden</label>
        </div>


    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>

</form>
