{# config

title: Standard

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set p = view.getViewhelper('Partials') %}
{% set v = view.getViewhelper('View') %}

{{ i.injectScss({ path: 'Index01/public/standards.less'}) | raw }}

<div class="plugin Core Navigation Rollout Index01">

    <div class="row">
        <div class="col-12">

            <nav>
                {% if plugin.getConfig('showHomepageLink') %}
                    <a class="level-1 {% if page.getId() == startPage.getId() %}active{% endif %}" href="{{ startPage.getUri() }}">{{ startPage.getTitle() }}</a>
                {% endif %}

                {{ p.renderPartial('Pages', { pages: startPage.getChildrenVisible(), level: 1 }) | raw }}
            </nav>

        </div>
    </div>

</div>
