<div class="form-group">
    <label for="options">Optionen</label>
    <textarea rows="15" class="form-control" id="options" name="options" aria-describedby="fieldHelp">{{ field.getConfig('options') }}</textarea>
    <small id="fieldHelp" class="form-text text-muted">Die einzelnen Optionen werden mit Zeilenumbruch getrennt.</small>
</div>
