{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{{ view.set({
'frame' : false,
}) }}

<form method="post" class="ajax" action="{{ plugin.getAdminUri('Datasheets', 'ajaxGroupUpdate', { groupId: group.getId() }) }}">

    <div class="modal-body">

        <div class="form-group">
            <label for="title">Titel *</label>
            <input type="text" required class="form-control" name="title" id="title" placeholder="Titel" value="{{ group.getTitle() }}">
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">neue Optionsgruppe erstellen</button>
    </div>

</form>