{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{{ view.set({
'frame' : false,
}) }}

<form method="post" class="ajax" action="{{ plugin.getAdminUri('Datasheets', 'ajaxFieldCreate', { datasheetId: get.get('datasheetId') }) }}">

    <div class="modal-body">

        <div class="form-group">
            <label for="title">Titel *</label>
            <input type="text" required class="form-control" name="title" id="title" placeholder="Titel">
        </div>
        <div class="form-group">
            <label for="section">Sektion</label>
            <input type="text" class="form-control" name="section" id="section" placeholder="Sektion" value="{{ get.get('section') }}">
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">neues Datenfeld erstellen</button>
    </div>

</form>