{# config

title: Standard

/config #}

{% set i = view.getViewhelper('Delegator', { object: plugin }) %}
{% set p = view.getViewhelper('Partials', { plugin: plugin }) %}

<div class="plugin Core ShopSystem Account Account01">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="inner-wrapper">

                    <div class="row">
                        <div class="col-md-4">

                            {{ p.renderPartial('Menu', { plugin: plugin }) | raw }}

                        </div>
                        <div class="col-md-8">

                            <h2 class="first main-title" data-editable data-uid="{{ plugin.getUid('title') }}">{{ plugin.getTitle }}</h2>

                            <div data-nowidgets data-editable data-uid="{{ plugin.getUid('account-text') }}">
                                <p>Herzlich Willkommen in deinem Account im Online-Shop. Du kannst hier deine vergangenen Bestellungen einsehen.</p>
                            </div>

                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>
</div>
