{# config

title: Accordeon

/config #}

<param name="cloak" value="1" />


<div class="row">
    <div class="col-12 plugin Core HelpAndSupport Jobs ShowJob01">

        <h1 data-editable data-uid="{{ job.getUid('title-completed') }}">Anfrage gesendet</h1>

        <div class="content-teaser">
            <div data-editable data-uid="{{ job.getUid('teaser-completed') }}">
                <p>Vielen Dank, Ihre Anfrage wurde gesendet. Wir melden uns in Kürze bei Ihnen.</p>
            </div>
        </div>

    </div>
</div>

