<div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="captureAutoBackmail" name="captureAutoBackmail" {% if field.getConfig('captureAutoBackmail') %}checked{% endif %}>
    <label class="form-check-label" for="captureAutoBackmail">automatische Rückantwort möglich</label>
    <small id="emailHelp" class="form-text text-muted">Wenn das Eingabefeld eine E-Mail Adresse enthält wird eine Rückmeldung an diese Adresse verschickt.</small>
</div>
