<div class="form-group">
    <label for="checkboxText">Text zur Checkbox</label>
    <textarea rows="15" class="form-control" id="checkboxText" name="checkboxText" aria-describedby="fieldHelp">{{ field.getConfig('checkboxText') }}</textarea>
    <small id="fieldHelp" class="form-text text-muted">Falls angegeben wird der Text an Stelle des Titels an der Checkbox angezeigt.</small>
</div>
