


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2 class="first main-title" data-editable data-uid="{{ category.getUid('title') }}">{{ category.getTitle }}</h2>

            {{ category.getItems() }}

        </div>
    </div>
</div>