{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

<h2>
    Slider bearbeiten

    <!--
    <span class="">
		<a data-modal data-title="Slide erstellen" href="{{ plugin.getAdminUri('Index', 'ajaxModalCompose') }}"><i class="fa fa-plus-circle"></i></a>
	</span>
    -->
</h2>

<p><a class="ajax" href="{{ v.getUri('Page', 'ajaxPanelContent', { 'pageId' : plugin.getPageId() }) }}"><i class="fa fa-chevron-circle-left"></i> zurück</a></p>

<div class="row">
    <div class="col">

        <div class="card">
            <div class="card-body">

                {{ v.injectPartial('Frootbox/Ext/Core/FileManager/Admin/Partials/FileManager', {
                    uid : plugin.getUid('files-' ~ page.getId ),
                    multiple : true
                }) | raw }}

            </div>
        </div>

    </div>
</div>