{% set v = view.getViewHelper('\\Frootbox\\Admin\\Viewhelper\\GeneralPurpose') %}

{{ view.set({
    'frame' : false,
}) }}

<h2>Seite löschen</h2>

<div class="row">
    <div class="col">

        <div class="card">
            <div class="card-body afterDeleteReceiver">

                <form method="post" class="ajax" action="{{ v.getUri('Page', 'ajaxDelete', { 'pageId' : page.getId() } ) }}">

                    <p class="card-text">Soll die Seite „{{ page.getTitle() }}“ wirklich gelöscht werden?</p>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="confirmDelete" id="confirmDelete">
                        <label class="form-check-label" for="confirmDelete">Ja, die Seite „{{ page.getTitle() }}“ soll gelöscht werden.</label>
                    </div>

                    <p class="card-text">Achtung: Dieser Schritt kann nicht rückgängig gemacht werden.</p>

                    <button type="submit" class="btn btn-danger">Seite löschen</button>

                </form>

            </div>
        </div>

    </div>
</div>