<script nonce="{{ settings.nonce }}">
    $(function ( ) {


        /**
         * Show "video edit" button
         */
        $(document).on('mouseenter', 'video[data-editable-video]', function ( event ) {

            if (isEditingFreeText) {
                return;
            }

            event.preventDefault();
            event.stopImmediatePropagation();

            if (!$('.frootbox-raise-tooltips').hasClass('active')) {
                $('.popover').popover('hide');
            }

            var uid = $(this).attr('data-uid');
            var element = $(this);

            $(this).attr('data-content', '<span class="options edit-mode">Video' +
                '&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;' +
                '<a class="video-edit" href="#' + uid + '"><i class="far fa-pencil"><\/i><\/a>&nbsp;&nbsp;&nbsp;' +
                '|&nbsp;&nbsp;&nbsp;' +
                '<a class="popover-dismiss" href="#"><i class="far fa-times"><\/i><\/a>' +
                '</span>'
            );

            $(this).popover({
                placement: 'top',
                html: true
            });

            $(this).popover('show');
        });

        /**
         *
         */
        $(document).on('click', 'a.video-edit', function ( event ) {

            event.preventDefault();
            event.stopImmediatePropagation();

            $('.popover').popover('hide');

            // Extract uid from href="#uid"
            var uid = $(this).attr('href').substr(1);
            var headline = $('[data-uid="' + uid + '"]');

            fbxEditorOpenGenericModal();


            $.ajax({
                url: "{{ settings.serverpath }}cms/admin/Editor/callEditable",
                data: {
                    method: 'ajaxModalEdit',
                    editable: 'Frootbox/Ext/Core/Video/Editables/Video',
                    uid: uid,
                },
                success: function ( html ) {

                    $('#fbxEditorGenericModal .modal-content').html(html);

                    $('#headline').focus();

                    if ($('#fbxEditorGenericModal .modal-content #headline').val().length == 0) {
                        $('#fbxEditorGenericModal .modal-content #headline').val(headline.text());
                    }
                }
            });

        });




    });
</script>